<div class="container">
  <div class="gallery gallery-text">
    <center>
    <!-- <a href="/jobs"><h4>加入蚂蚁金服，一起构建金融级云原生基础设施</h4></a> -->
    <a href="https://eiuapp.github.io/ceph-handbook">开源|ceph handbook - ceph 学习手册</a>
    ·
    <a href="https://eiuapp.github.io/swift-handbook">开源|swift handbook - swift 学习手册</a>
    <!-- <a href="https://github.com/alipay/sofa-mosn">开源|SOFAMosn - Golang 版的高性能 Service Mesh Sidecar 代理</a> -->
    </center>
  </div>

  <div class="gallery gallery-text">
    <center><h4>扫码互粉入群，相互学习交流（备注：入群）</h4></center>
    <!-- <center><h4>扫码关注我的微信公众号，获取每日推送</h4></center> -->
    <!-- <h4>扫码关注微信公众号，获取每日推送，回复【加群】入群学习</h4> -->
    <!-- <table frame="void" align="center"> -->
    <tr>
      <td>
        <!-- <a href="https://ws4.sinaimg.cn/large/006tNbRwly1fw3ku0cwuhj304g056dgk.jpg" title="云原生应用架构"> -->
        <!-- <img src="https://ws4.sinaimg.cn/large/006tNbRwly1fw3ku0cwuhj304g056dgk.jpg" alt="云原生赢家架构微信公众号"> -->
        <!-- </a> -->
      </td>
      <td>
        <!-- <a href="https://ws1.sinaimg.cn/large/006tNbRwly1fw3l1sxoijj304g0563z7.jpg" title="ServiceMesher"> -->
        <!-- <img src="https://ws1.sinaimg.cn/large/006tNbRwly1fw3l1sxoijj304g0563z7.jpg" alt="ServiceMesher 微信公众号"> -->
        <!-- </a> -->
      </td>
      <td>
        <a href="https://res.cloudinary.com/dmtixvmgt/image/upload/v1539023822/wechat-qrcode-2_hos1ui.jpg" title="曾云龙">
          <img src="https://res.cloudinary.com/dmtixvmgt/image/upload/v1539023822/wechat-qrcode-2_hos1ui.jpg">
        </a>
      </td>
    </tr>
  </table>
  </div>
</div>
